<h1>Gestion de comptes</h1>

<a href={% url "form_ope" %}> Lien vers ajout opérations </a> <br>
<a href={% url "select_ope" %}> Lien vers modif des opérations </a>

<hr>


<table>


{% for ope in Operation %}
    <tr>
        <td>
            {{ope.id}}
        </td>
        <td>
            {{ope.compte}}
        </td>
        <td>
            {{ope.montant}}
        </td>
        <td>
            {{ope.date_ope}}
        </td>
        <td>
            {{ope.type}}
        </td>
        <td>
            {{ope.debit}}
        </td>
        <td>
            {{ope.description}}
        </td>
        <td>
            {{ope.type_0}}
        </td>


    </tr>

{% empty %}
    <p>Aucune opération.</p>
{% endfor %}

</table>
