<a href={% url "select_ope" %}> Retour</a>
<!--
{{res}}

<br>
{{request.POST}}
<br>
{{pks_modify}} <br>
{{pks_delete}}
<br>

{% if pks_modify %}
An ope to modify
{% else %}
No ope to modify
{% endif %}

<br>

{% if pks_delete %}
Some ope to delete
{% else %}
No ope to delete
{% endif %}

<br>


{{oper_dict}}

<br><br>
{% if envoi == True %}
Envoie tkl
{% else %}
Pas d'envoi
{% endif %}


<br>
-->

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% elif pks_modify %}

{% if oper_id %}
<form action="{% url 'update_op_value' oper_id %}" method="post">
{% else %}
<form action="{% url 'update_op_value' 24 %}" method="post">
{% endif %}
    {% csrf_token %}
    {{ form_modif.as_p }}
    <input name="change_ope_values" type="submit" value="Submit" />
</form>


{% elif pks_delete %}

{% for to_del in res_delete %}
{{to_del.id}}
{% endfor %}

{% endif %}

<!--
<br>

Envoie: {{envoi}} <br>
Bound: {{form_modif.is_bound}} <br>


<br><br>
{{request.POST}}

<br><br>
{% if changes == True %}
Des changements
{% else %}
Pas de changements
{% endif %}




{% if oper_null %}
    Oper_null not null biatch
{% else %}
    Oper_null null mouahahahah
{% endif %}


-->






