<a href={% url "test_table" %}> Retour</a>

{{res}}

{{pks}}

{{oper_dict}}

<br><br>
{% if envoi == True %}
Envoie tkl
{% else %}
Pas d'envoi
{% endif %}

<br>

Envoie: {{envoi}} <br>
Bound: {{form_modif.is_bound}} <br>
<!--{{ form.errors }}
{{ form.non_field_errors }} -->


<br><br>
{{request.POST}}

<br><br>
{% if changes == True %}
Des changements
{% else %}
Pas de changements
{% endif %}


<form action="{% url "update_op_value" 24 %}" method="post">
    {% csrf_token %}
    {{ form_modif.as_p }}
    <input name="change_ope_values" type="submit" value="Submit" />
</form>








